[submodule "nexus-recepcao"]
	path = nexus-recepcao
	url = https://github.com/therapies-love-kids/nexus-recepcao
[submodule "Templates"]
	path = Templates
	url = https://github.com/therapies-love-kids/Templates.git
[submodule "nexus-rh"]
	path = nexus-rh
	url = https://github.com/therapies-love-kids/nexus-rh
